<div class="container">
    <header class="header">
        <h1>רשימת הזמנות</h1>
    </header>
    <main class="main-content">
        <table class="order-table">
            <thead>
                <tr>
                    <th>מספר הזמנה</th>
                    <th>כתובת</th>
                    <th>סה"כ להזמנה</th>
                    <th>סטאטוס</th>
                    <th>פעולות</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders" (click)="viewOrderItems(order.orderId)">
                    <td>{{ order.orderId }}</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.totalPrice | currency:'USD' }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                        <button *ngIf="order.status === 'UNPAID'" class="action-button pay-button" (click)="goToPayment(order, $event)">Pay</button>
                        <button *ngIf="order.delivery && order.status === 'UNPAID'" class="action-button update-button" (click)="updateAddress(order.orderId, $event)">Update Address</button>
                        <button *ngIf="order.status === 'UNPAID'" class="action-button cancel-button" (click)="cancelOrder(order.orderId, $event)">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</div>
