<div class="container">
  <h1 class="header">הזמנות</h1>
  <table class="order-table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Address</th>
        <th>Total Price</th>
        <th>Delivery</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" (click)="viewOrderItems(order.orderId)" class="order-row">
        <td>{{ order.orderId }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.totalPrice }}</td>
        <td>{{ order.delivery ? 'Yes' : 'No' }}</td> <!-- Display delivery status -->
        <td>{{ order.status }}</td>
        <td>
            <button *ngIf="order.status === 'UNPAID'" (click)="goToPayment(order, $event)" class="action-button pay-button">Pay</button>
            <button *ngIf="order.delivery && (order.status === 'UNPAID' || order.status === 'PAID')" 
            (click)="updateAddress(order.orderId, $event)" 
            class="action-button update-button">
                עדכן כתובת
            </button>
            <button *ngIf="order.status === 'UNPAID'" (click)="confirmCancelOrder(order.orderId, $event)" class="action-button cancel-button">Cancel</button>
            <button *ngIf="order.status === 'PAID' && user.permissionType === 'admin'" (click)="completeOrder(order.orderId, $event)" class="action-button complete-button">Complete</button>
        </td>
    </tr>
    
    </tbody>
  </table>
  <p class="click-hint">Click on an order to view its details.</p>
</div>
