
<body>
    <div class="container">
        <header class="header">
            <h1>הזמנות</h1>
        </header>
        <main class="main-content">
            <table class="order-table">
                <thead>
                    <tr>
                        <th>שם מוצר</th>
                        <th>כמות</th>
                        <th>מחיר ליחידה</th>
                        <th>סה"כ</th>
                        <th>עיר</th>
                        <th>רחוב</th>
                        <th>בניין</th>
                        <th>בית</th>
                        <th>טלפון</th>
                        <th>הערות להזמנה</th>
                        <th>משלוח/איסוף עצמי</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td>{{order.name}}</td>
                        <td>{{order.amount}}</td>
                        <td>{{order.price_one}}</td>
                        <td>{{order.price}}</td>
                        <td>{{order.city}}</td>
                        <td>{{order.street}}</td>
                        <td>{{order.building}}</td>
                        <td>{{order.home}}</td>
                        <td>{{order.phone}}</td>
                        <td>{{order.comments}}</td>
                        <td>{{order.Delivery_type}}</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
</body>

