<body>
    <div class="container">
        <h2>סל הקניות</h2>
        <table>
            <thead>
                <tr>
                    <th>שם מוצר</th>
                    <th>כמות</th>
                    <th>צבע</th>
                    <th>מחיר ליחידה</th>
                    <th>סה"כ</th>
                </tr>
            </thead>
            <tbody>
                <tbody>
                    <ng-container *ngIf="(getCartItems() | async) as cartItems">
                      <tr *ngIf="cartItems.length === 0">
                        <td colspan="5">אין פריטים בסל</td>
                      </tr>
                      <tr *ngFor="let item of cartItems">
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantity }}</td><!-- להוסיף אופציה הוספה והורדה של כמות-->
                        <td>{{ item.color }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.totalPrice }}</td>
                      </tr>
                    </ng-container>
                  </tbody>
        </table>
        <button routerLink="/payment" class="checkout-button">מעבר לתשלום</button>
        </div>
</body>


