<div class="product-container" *ngIf="product">
    <div class="product-details">
        <h1>{{product.productName}}</h1>
        <p>{{product.descriptionFull}}</p>
        <p><strong>מחיר:</strong> {{product.price}} ש"ח</p>
        <div class="quantity">
            <span>כמות:</span>
            <button (click)="decreaseQuantity()" class="quantity-button">-</button>
            <input type="text" [(ngModel)]="quantity" class="quantity-input">
            <button (click)="increaseQuantity()" class="quantity-button">+</button>
        </div>
        <div class="colors">
            <span>צבעים:</span>
            <button *ngFor="let color of product.colors" class="color-button">{{color}}</button>
        </div>
        <div class="stock">
            <span>נשארו {{product.stock}} במלאי</span>
        </div>
        <button (click)="addToCart(product)" class="add-to-cart" [disabled]="!isLoggedIn">הוספה לסל</button>
        <a routerLink="/gallery" class="view-cart">לחזור לקניות</a>
    </div>
    <div class="product-image">
        <img [src]="product.imageUrl" alt="{{product.productName}}">
    </div>
</div>
