
<body>
    <div class="gallery-container">
        <div class="gallery-item" *ngFor="let order of gallery"><app-chair></app-chair></div>
        <!-- <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div>
        <div class="gallery-item"><app-chair></app-chair></div> -->
    </div>
</body>