
<body>
    <div class="container">
        <header class="header">
            <h1>הזמנות</h1>
        </header>
        <main class="main-content">
            <table class="order-table">
                <thead>
                    <tr>
                        <th>מס הזמנה</th>
                        <th>מס לקוח</th>
                        <th>תאריך יצירת הסל</th>
                        <th>תאריך עדכון הסל</th>
                        <th>סטטוס ההזמנה</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let shoppingCart of manageShopingCart">
                        <td>{{ shoppingCart.cartId }}</td>
                        <td>{{ shoppingCart.customer.customerId }}</td>
                        <td>{{ shoppingCart.customer.createdAt }}</td>
                        <td>{{ shoppingCart.customer.updatedAt }}</td>
                        <!-- <td>{{ shoppingCart.shoppingCartStatus.statusDescription }}</td>  -->
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
</body>



