<nav id="navigation">
    <!--<button (click)="isAdmin=!isAdmin">מנהל</button>-->
    <button routerLink="/" class="borderless-button right-butten">דף הבית</button>
    <button routerLink="/table-galery" class="borderless-button right-butten">שולחנות</button>
    <button routerLink="/chair-galery" class="borderless-button right-butten">כסאות</button>
    <button routerLink="/conect" class="borderless-button right-butten">צור קשר</button>
    <button routerLink="/shopping-cart" class="borderless-button left-butten">סל קניות</button>

    <!-- Conditional rendering for personal area and login/logout based on loggedIn state -->
    <button *ngIf="loggedIn" routerLink="/personal-log-in" class="borderless-button left-butten">אזור אישי</button>
    <button *ngIf="loggedIn" (click)="logout()" class="borderless-button left-butten">Logout</button>
    <button *ngIf="!loggedIn" routerLink="/log-in" class="borderless-button left-butten">התחבר</button>
</nav>
