<div class="login-container">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <h2 class="login-title">התחברות</h2>
        
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
        
        <label for="email">מייל (שם משתמש):</label>
        <input type="text" id="email" name="email" formControlName="email" placeholder="הזן את המייל שלך">
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            <small class="error">כתובת מייל לא תקינה</small>
        </div>

        <label for="password">סיסמה:</label>
        <input type="password" id="password" name="password" formControlName="password" placeholder="הזן את הסיסמה שלך">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <small class="error">הסיסמה חייבת להיות לפחות 8 תווים</small>
        </div>
        <button routerLink="/register">?עדיין לא נרשמת</button>
        <button type="submit">התחבר</button>
    </form>
    
</div>

