<body>
    <div class="personal-area">
       
        <button class="logout-button" (click)="logout()">Logout</button>
        
        <h1>אזור אישי ללקוח</h1>
        <section class="personal-details">
            <h2>פרטים אישיים</h2>
            <p>{{user.firstName}}</p>
            <p>{{user.lastName}}</p>
            <p>{{user.email}}</p>
            <p>{{user.phone}}</p>
            <button routerLink="/update-p-d">עדכון פרטים אישיים</button><br>
            
            >
            <button routerLink="/orders"  *ngIf="user.permissionType === 'user'">הזמנות שלי</button><br>
            
           
            <button routerLink="/orders" *ngIf="user.permissionType === 'admin'">טיפול בהזמנות לקוחות</button><br>
            <button routerLink="/stock" *ngIf="user.permissionType === 'admin'">טיפול במלאי</button><br>
            <button routerLink="/manage-clients" *ngIf="user.permissionType === 'admin'">פרטי לקוחות רשומים</button><br>
            <button routerLink="/manage-shoping-cart" *ngIf="user.permissionType === 'admin'">דוח ניהול סלי קניות</button>
        </section>
    </div>
</body>
