
<body>
    <div class="container">
        <h2>יצירת חשבון</h2>
        <form class="account-form" [formGroup]="registrationForm" (ngSubmit)="register()">
            <label for="email">כתובת אימייל</label>
            <input type="email" id="email" name="email" formControlName="email" required>

            <div class="name-fields">
                <label for="first-name">שם פרטי</label>
                <input type="text" id="first-name" name="firstName" formControlName="firstName" required>

                <label for="last-name">שם משפחה</label>
                <input type="text" id="last-name" name="lastName" formControlName="lastName" required>
            </div>

            
            <label for="phone">נייד </label>
            <input type="text" id="phone" name="phone" formControlName="phone" required>

            <label for="password">סיסמה (חייב לכלול לפחות 8 תווים)</label>
            <input type="password" id="password" name="password" minlength="8" formControlName="password" required>

            <button type="submit" >צור חשבון</button>
        </form>
    </div>
</body>

